@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Azeret Mono", monospace; */
body {
    font-family: "Azeret Mono", monospace;
  }
/* ------ Font section ------- */


.heading-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 92px;
}

.download-btn {
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 11px 15px 11px 15px;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    width: 180px;
    height: 48px;
    cursor: pointer;
    

}

/* Banner section styles*/
.full-banner {
    background-image: url(./assets/Hero-bg.png);
    width: 100%;
    height: 600px;
    margin: 35px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 400px;
    margin: 20px auto;
    
}
#top-img{
    width: 210px;
    height: 210px;    
    padding-top: 210px;
  }
    
.banner-element h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin: 18px 0px;
    padding: 0px;
    width: 900px;
    height: 130px;


}

.banner-element p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 25px;    

}
.banner-element button {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: #fff;
    padding: 15px;
    margin: 32px 0px;
    padding: 15px 20px 15px 20px;
    width: 160px;
    height: 60px;

  }
















